@charset "utf-8";
/* CSS Document */

.inputField {
	display: block;
	clear: both;
	font-size: .80em;
	
}

.inputFieldB {
	display: block;
	clear: both;
	font-size: .60em;
	
}

label {
	display: inline-block;
	align-content:center;
	}

input {

    width: 15em;
    margin-left: 1em;
    margin-bottom: .2em;
}

inputB {
	width: 30em;
    margin-left: 1em;
    margin-bottom: .2em;
	
}

input:focus {
    border: 2px 1px 0 red;

}

inputB:focus {
    border: 2px 1px 0 red;

}

.floatLabel {
display: inline-table;
float: left;
clear: right;
width: 80%;	

text-align: left;
margin-left: 1em;
font-style:oblique;
font-size: 1.2em;
color: #666600;
}

.floatCtrl {
display: inline-table;
float: left;
margin-left: 1em;
margin-bottom: .3em;	
}

.largeTextField {
width: 33%;	
}

.smallTextFeild {
width: 70%;	
}

legend {
margin-top: .5em;
margin-bottom: .5em;
font-weight: bold;
font-size: 1.5em;
color:#840002;	
}

input:required, input[required] {
border: 1px solid grey;	
}

input:valid {
border: 1px solid orange;	
}

.agreeLabel {
width: 100%;
margin-top: 1em;
margin-bottom: 1em;
text-align: left;	
}

#payment {
clear: left;
padding: .5em;
width: 40%;
	
}

.buttons {
padding: .5em;
text-align:center;
background-color:#666600;
font-style:oblique;
color: #c5c5c5;
border-color:#ffffff;
border-width: .5em;	
}





