@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    ViewBag.Title = "AppDev Logged Out";
}

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <span class="h6">@User.Identity.Name</span>
            <h6>Is not logged out.</h6>
        </div>
    </div>
</div>