@{
    ViewBag.Title = "ApplicationDevelopment";
}

<div class="panel panel-default">
    <h2 class="panel-heading">Software Applications</h2>


    <div class="panel-body">

        <div class="col-sm-4 col-md-4 col-lg-4">

            <button class="bt1" type="button" onclick="location.href='@Url.Action("AppIndex", "App")'">
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;Dapp Project
            </button>
        </div>
    </div>
</div>