@{
    ViewBag.Title = "Home Page";
}




<div class="container-fluid">
    <br/>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 center-block text-center">
            <span class="h2">WELCOME!</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 center-block text-center">
            <span>This Website is designed to display some of my software development capabilities</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 center-block text-center">
            <span>I am open to free lance, contract, and direct hire jobs</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 center-block text-center">
            <span>Please feel free to naviagate through this web application but be advised some locations require that you register as a member</span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 center-block text-center">
            <span>This is a free service to provide this site with more dynamic abilities, Thanks & Enjoy!!!</span>
        </div>
    </div>
</div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             

