@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

@section scripts
    {
@*<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/bootstrap-grid.css" rel="stylesheet" />*@
}



    <br />
    <br />
    <br />
    <br />
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <h4 class="text-center">This Application is under construction.</h4>
            </div>
        </div>



        <br />
        <br />
        <div class="row justify-content-center">
            <div class="col-md-1">
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href='@Url.Action("Login", "Auth")'>
                            <input class="btn btn-info" type="button" value="Login" />
                        </a>
                    </span>
                </div>
            </div>

            <div class="col-md-1">
                <div class="input-group">
                    <span class="input-group-btn">
                        <a href='@Url.Action("Register", "Auth")'>
                            <input class="btn btn-info" type="button" value="Register" />
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-1">&nbsp;</div>
                <div class="col-md-4">
                    <div class="coinmarketcap-currency-widget widget" data-currencyid="1" data-base="USD" data-ticker="true" data-rank="false"
                         data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="true"></div>
                </div>
            </div>
        </div>

    </div>






